* {
    margin:0;
    padding:0;
  }

  .ancho{
    width: 100px;
    text-align: center;
  }
  .titulo{
      text-align: center;
      padding: 60px;
  }

  .content{
    background-color: lightgray;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .formulario{
      margin-bottom: 50px;
  }

  .textoReferencia{
      text-align: right;
      padding-right: 20px;
  }

    .textoAreaReferencia{
      text-align: right;
      padding-right: 20px;
  }
    .divTextArea{
      text-align: left;
      padding-left: 20px;
      margin-bottom: 20px;
  }

  .divTextbox{
      text-align: left;
      padding-left: 20px;
      margin-bottom: 20px;
  }

  .textArea{
      width: 300px;
      height: 150px;
  }

  .separado{
      margin-bottom: 20px;
  }

  .divBoton{
      text-align: center;
      margin: auto;
      margin-top: 40px;

  }

  .boton{
      text-align: center;
      width: 200px;
      height: 60px;
  }

  .divExitoso{
    margin: auto;
    margin: 30px;
    border-radius: 15px;
    background-color: lightgrey;
  }

  .mensajeExitoso{
    color: white;
    text-align: center;
    padding: 30px;
  }

  .textBox{
    width: 100px;
  }

  .textBoxDecimal{
    width: 100px;
  }

  .textBoxDiferencia{
    width: 100px;
  }

  @media (max-width: 780px) {

    .textoAreaReferencia{
        text-align: center;
        padding: 0px;
    }
      .divTextArea{
        text-align: center;
        padding: 30px;
    }

    .titulo{
      font-size: 24px;
      padding: 30px;
    }

  } 



